[Unit]
Description=Frontend SvelteKit Service
Requires=perjadin-secrets.service perjadin-backend.service
After=perjadin-secrets.service perjadin-backend.service

[Container]
ContainerName=perjadin-frontend
Image=ghcr.io/myceldev-com/perjadin-kemnaker-ri-frontend:latest
EnvironmentFile=/dev/shm/perjadin.env
Network=perjadin.network
PublishPort=3000:3000

# Bypass Podman internal DNS (aardvark-dns) which is failing with os error 99 due to IPv6
Environment=INTERNAL_API_URL=https://api-protokol.gatsu51.com
Environment=HOST=0.0.0.0
Environment=PORT=3000
Environment=BODY_SIZE_LIMIT=52428800

# Pull latest image automatically on restart
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
