[Unit]
Description=Backend Go API Service
Requires=perjadin-secrets.service perjadin-db.service perjadin-redis.service perjadin-gotenberg.service
After=perjadin-secrets.service perjadin-db.service perjadin-redis.service perjadin-gotenberg.service

[Container]
ContainerName=perjadin-backend
# Using the pre-built image from registry
Image=ghcr.io/raxbyte-org/perjadin-kemnaker-ri-backend:latest
EnvironmentFile=/dev/shm/perjadin.env
Network=perjadin.network
Volume=perjadin-uploads.volume:/app/uploads
PublishPort=8081:8081

# Hardcoded non-secret envs specific to infrastructure routing
Environment=DB_HOST=perjadin-db
Environment=REDIS_HOST=perjadin-redis
Environment=GOTENBERG_URL=http://perjadin-gotenberg:3000

# Enable automatic pulling of latest image when systemd service starts/restarts
AutoUpdate=registry

[Service]
Restart=always
# Ensure graceful shutdown of the Go app
TimeoutStopSec=30

[Install]
WantedBy=default.target
