[Unit]
Description=Redis Cache Container
Requires=perjadin-stg-secrets.service
After=perjadin-stg-secrets.service

[Container]
ContainerName=perjadin-stg-redis
Image=public.ecr.aws/docker/library/redis:7-alpine
EnvironmentFile=/dev/shm/perjadin_stg.env
Network=perjadin-stg.network
Volume=%h/.persistent/perjadin-kemnaker-ri/stg/redis_data:/data
# Exec string is appended to the container entrypoint
Exec=redis-server --requirepass "${REDIS_PASSWORD}"

[Service]
Restart=always

[Install]
WantedBy=default.target
