[Unit]
Description=Frontend SvelteKit Service
Requires=perjadin-stg-secrets.service perjadin-stg-backend.service
After=perjadin-stg-secrets.service perjadin-stg-backend.service

[Container]
ContainerName=perjadin-stg-frontend
Image=ghcr.io/myceldev-com/perjadin-kemnaker-ri-frontend:staging
EnvironmentFile=/dev/shm/perjadin_stg.env
Network=perjadin-stg.network
PublishPort=37210:3000

# Hardcoded non-secret internal routing via host.containers.internal to bypass broken IPv6 aardvark-dns
Environment=INTERNAL_API_URL=http://host.containers.internal:37211
Environment=HOST=0.0.0.0
Environment=PORT=3000
Environment=BODY_SIZE_LIMIT=52428800

# Pull latest image automatically on restart
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
